+++
title = "Getting Started"
description = "openlifter manual,openlifter instructions,openlifter tutorial"
+++

<div class="row row-spacer">
  <div class="col-md-12">
    This page will include a video of how to use the software.<br/>
    We haven't finished the video yet, though!
  </div>
</div>
