<header>
  <ul class="row menu">
    <li class="col-xs-12 col-md-3 icon">
      <a href="{{ "/" | relLangURL }}">
        <img alt="Logo" height="72px" src="/images/logo.svg"/>
      </a>
    </li>
    <li class="col-xs-12 col-md-9 menu">
      <a href="{{ "about/" | relLangURL }}"><h2>{{ .Site.Params.AboutLink }}</h2></a>
      <a href="{{ "getting-started/" | relLangURL }}"><h2>{{ .Site.Params.GettingStartedLink }}</h2></a>
      <a href="{{ "support/" | relLangURL }}"><h2>{{ .Site.Params.SupportLink }}</h2></a>
      <a href="https://gitlab.com/openpowerlifting/openlifter/">
        <h2>{{ .Site.Params.SourceCodeLink }}</h2>
      </a>
    </li>
  </ul>
</header>
